@media (min-width:1100px) {
    .details-main { width: 63%; }
    .details-side { width: 37%; }

}




@media (max-width:1024px) {
    #header .flexrow { flex-wrap: wrap; justify-content: space-between; }
    #header .right-section { order: 3; width: 100%; display: block; }
    #header .logo-wrap {width: 65%; justify-content: space-between;}
    .home-page #header .logo-wrap {width: 50%;}
    #header.header_transparent .logo-wrap {width: 50%;}
    .signbtn { margin-left: auto; }
    .home-page #header { box-shadow: none; }
    .mob_addr { display: block; width: 50%; }
    .mob_addr h4 { margin: 0; font-size: 14px; padding: 0; }
    .adr_sele select { border: none; font-size: 10px; }
    .switch-wrap { padding-left: 0px; margin-left: auto;}
    .switch span { padding: 10px 16px; font-size: 10px; }
    #header .addr-wrap { display: none; }




    #restaurant-banner .resturant-details h2 { margin: 0; font-size: 12px; }
    #restaurant-banner .resturant-details { padding: 10px 0; padding-left: 110px; left: 0px; }
    #restaurant-banner .restur-logo { width: 80px; height: 80px; top: 0px; left: 16px; }
    #restaurant-banner .resturant-details p { font-size: 10px; margin: 0; }
    #restaurant-banner .resturant-details p span { font-size: 10px; padding: 2px 10px; margin-left: 6px; }
    .top_filter .flexrow{ display:block; }
    .top_filter .flexrow .ofer_you, .addr-wrap{ padding-bottom:10px}
    .top_filter #datepicker{ margin:0 }
    #restaurant-banner .imgwrap { height: 200px; overflow: hidden; display: flex; flex-flow: row nowrap; justify-content: stretch; }
    #restaurant-banner .imgwrap img { object-fit: cover; object-position: center; min-width: 100%; height: auto; min-height: 100%; }
    #restaurant-banner { margin-bottom: 0px; }


}


@media (max-width:992px) {
    body { padding-top: 64px; }
    .mob_menu { display: block; }
    .row > div[class*="col-md-"] { margin-bottom: 16px; }
    #header .container, .container-full { max-width: 100%; }
    #header_transparent .logo-wrap { width: 120px;    padding-top: 10px; }
    .signbtn { padding-top: 0px; }
    #header .logo-wrap .logo { width: 120px; padding-top: 8px; }
    #header { padding: 12px 0px; }
    #header .cart-count { background-position: 11px 11px; padding: 6px 20px; width: 68px; padding-left: 34px; }
    .landing-page #header_transparent { padding-top: 30px; }
    #banner h3 { font-size: 16px }
    .meal-slider .slide1 { top: 80px; width: 220px; right: -60px; }
    .meal-slider .slide2 { top: 376px; width: 250px; left: 50%; right: auto; margin-left: -125px; }
    #banner .container { height: auto; padding-top: 180px; padding-bottom: 60px; }
    #banner h2 { margin-bottom: 12px; }

    #download_wrap .flexrow { flex-wrap: wrap; }
    #download_wrap .flexrow .item { width: 44%; margin-bottom: 16px; }
    #download_wrap .download_content { padding: 10px 0 20px; }
    #download_wrap .dwn-bg { min-height: 340px; background-size: 100%; background-position: top center; margin-top: -90px; }
    #download_wrap h4 { font-size: 15px; }
    #download_wrap p { font-size: 14px; }
    #service-wrap .imgwrap { position: relative; top: auto; right: auto; }
    #service-wrap .inner { padding: 20px; }
    #service-wrap .imgwrap { padding-top: 20px; margin: 0 auto; }
    #service-wrap .inner h3 br { display: none; }
    #service-wrap p { font-size: 14px; }
    #add-resturant { padding: 30px 0; }
    .food_burger, .food_french, .drink_soda { display: none; }
    #find-city .flexrow { display: block; }
    #find-city .flexrow .city-wrap { padding: 20px; }
    #find-city .logoimg { position: relative; top: auto; left: auto; }
    #find-city .flexrow .city-wrap, #find-city .flexrow .city-links { width: auto; }
    #find-city .flexrow .city-links { border-radius: 20px; }
    .city-links ul li a { text-decoration: none; font-size: 14px; padding-left: 20px; }
    .city-links ul li a:before { top: 14px; }
    #delivery-wrap { margin-top: 20px; }
    #delivery-wrap p { font-size: 14px; }
    #delivery-wrap h3 { font-size: 22px; }
    #delivery-wrap h3 br { display: none; }
    #footer .quick-links ul.qu_links { column-count: 1; column-gap: 0; }
    #footer .top-citys ul.city_links { column-count: 1; column-gap: 0; }
    #footer .flexrow { flex-wrap: wrap; }
    #footer .appwrap, #footer .social-media { width: 50%; }
    #footer .quick-links { order: 3; width: 100%; padding-top: 40px; padding-left: 20px; }
    #footer .get-app { display: none; }
    #footer .cities_row .appwrap { order: 3; }
    #footer .cities_row .appwrap, #footer .top-citys { width: 100%; }
    #footer .top-citys { padding-left: 20px; }
    #copyright ul li a { padding: 0px 10px; font-size: 11px; }
    #footer .links_row { padding-bottom: 0px; border-bottom: none; margin-bottom: 10px; }
    #footer .paycars { padding-top: 30px; }
    #footer .quick-links ul.qu_links li, #footer .top-citys ul.city_links li { display: block; }
    #footer .quick-links.show { padding-bottom: 20px; border-bottom: 2px solid rgb(255 255 255 / 10%); margin-bottom: 20px; }
    #footer .quick-links.show { padding-bottom: 20px; border-bottom: 2px solid rgb(255 255 255 / 10%); margin-bottom: 20px; }
    #footer .links_wrap h3 { position: relative; }
    
    #main-content .accordion-body .row .col-md-6 { padding: 0px 10px; }
    .form-wrap .col-md-6{ width:50%; }

    
    .page-banner .imgwrap, .page-banner { height: 50vh; }
    .page-banner .imgwrap img { object-fit: cover; object-position: left; min-width: 100%; height: auto; min-height: 100%; }
    .datepeo-wrap .date-people { flex-wrap: wrap; }
    .datepeo-wrap .date-people .date-time { width: 100%; margin-bottom: 10px; }
    .date-people .loc-sel { width: 100% }
    .loca-wrap { width: calc(100% - 140px) }
    .filter-content{ padding-left:10px; border-left:none; }

}

/* ==================== Mobile =============== */
@media (max-width:767px) {
    .meal-slider .slide1 { right: -30%; }
    .show_filter{display:block; }
    .filter-wrap .filter-item{display: none;}
    .active_filter .filter-wrap .filter-item{display: block;}

  
    .modal-dialog { margin: 20px; }
    .modal-dialog .btn-close { top: 10px !important; right: 10px !important; }
    .addcart-wrap h3 { margin-top: 0; }
    .accordion-item { margin-top: 0px; }
    .cart-wrap .btn-wrap .btn { padding: 12px 20px; border-radius: 12px; }
    .driver_notification { width: 90%; padding: 20px; left: 5%; bottom: 30px; }
    .img_form { padding: 40px 0; }
    .odr-received { width: 90%; padding: 20px 40px; left: 5%; top: 70px; }
    .odr-received .help-text { padding: 0px; }

    .odr_list .item { padding: 10px }
    #order-subtab { padding: 10px 0 }
    .tab-content .container { padding-top: 0px; }
    #order-subtab li { margin: 4px }
    .manage-profile, .change-password { margin-left: 0; margin-top: 12px; }
    .page-banner .bnrtext h1 { margin-bottom: 10px; font-size: 18px; }
   
    .switch-wrap,.switch {width: 140px;}
    .roundimg {border-radius: 12px;}
    .img_form .form-wrap h3 br{ display:none; }
     .myorder-tab #ordertab { justify-content: left;}
    #footer ul li a { color: rgb(255 255 255 / 65%); }


}
@media (max-width:600px) {

    .datepeo-wrap .date-people .date-time { display: block; }
    .page-banner .imgwrap, .page-banner { height: 50vh; }
    .date-people .time-sel { border: none; }
    .datepeo-wrap .date-people .date-time { padding: 0 }
    .datepeo-wrap .date-people .date-time .input-field { border-bottom: 1px solid #e2e2e2; }
    .prdt-horiz .prdt_box{ display:block; margin-bottom:0 }
    .prdt-horiz .prdt_box .imgwrap{ width:100%; }
    .prdt-horiz .prdt_box .inner{ width:100%; padding-left:0; padding-top:16px }



}





@media (max-width:480px) {
    #header .btn { padding: 6px 10px; font-size: 14px; }
    .adr_sele select {width: 120px;}
    #header .hamburger_menu { margin-right: 12px; }

}


@media (max-width: 1370px) and (min-width: 1024px) {
    .swiper-button-next, .swiper-button-prev {top: 98px;}
    .top_filter {padding-bottom: 30px;}
    .resturant_details-page .left-sidebar {padding-top: 50px;}
    .deals_info {margin-bottom: 30px;}
    .manage-profile, .change-password {margin: 30px auto 0;}
}

@media (max-width: 1024px) and (min-width: 767px) {

}


